.container {
    width: 100vw;
    height: 100vh;
      
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    border-radius: 25% 5% 5% 10%;
    width: 25%;
    height: 40%;
    background: rgba(255, 255, 255, 0.301);

    /* shadow */
    -webkit-box-shadow: 14px 6px 13px -3px #000000; 
    box-shadow: 14px 6px 13px -3px #000000;

    min-width: 300px;
    min-height: 300px;
}
input{
    top: 5%;
    margin-top: 2%;
    border-radius: 15px;
    width: 40%;
    height: 30%;

    justify-content: center;
    align-items: center;
}
hr{
    margin-top: 3%;
    width: 98%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    margin-top: 4%;
    background-color: #eaafc8;
    width: 30%;
    
}

label{
    margin-top: 5%;
}

body {
    margin: 0px;
}